/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

img {
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
