$font-family: "Helvetica", "Arial", sans-serif;
$second-family: "Inter", "Arial", sans-serif;

/* цвета */
$color-primary: #000000;
$color-text-secondary: #6e6e6e;
$color-border: #c8c8c8;
$color-contrast: #ffffff;

$desktop-width: 1600px;
$breakpoint-tablet: 768px;
$breakpoint-gap: 0.02px;
$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
