/* здесь используйте глобальные переменные */

/* шрифты */

$montserrat-regular: "Montserrat Regular", "Arial", sans-serif;
$montserrat-medium: "Montserrat Medium", "Arial", sans-serif;
$montserrat-semi-bold: "Montserrat Semi Bold", "Arial", sans-serif;
$montserrat-bold: "Montserrat Bold", "Arial", sans-serif;

/* цвета */

$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-secondary: #f0ebff;
$base-primary: #7859cf;
$alt-primary-darker:#593cac;

/* дисплей */
$tablet-width: 768px;
$desktop-width: 1440px;
