.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__body a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
