.social {
  width: 100%;

  @include tablet {
    padding-left: 26px;
  }

  @include desktop {
    width: auto;
    padding: 0;
  }
}

.social__list {
  @include list-resetting;

  display: flex;
  justify-content: center;
  gap: 20px;

  @include tablet {
    justify-content: end;
  }
}

.social__link {
  background-position: 50%;
  background-color: $base-grey;
  min-width: 40px;
  min-height: 40px;
  display: block;
  mask-position: center;

  &:hover,
  &:focus,
  &:active {
    background-color: $base-primary;
    color: $base-secondary;
  }
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vkontakte");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
}

.social__link--pinterest {
  mask-image: url("../../icons/stack.svg#pinterest");
  mask-size: 22px 22px;
  mask-repeat: no-repeat;
}

.social__link--odnoklassniki {
  mask-image: url("../../icons/stack.svg#odnoklassniki");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
}
